.starFilter
{
    display: flex;
    justify-content: center;
    align-items:flex-end ;
    height: 6vh;
    background-color: var(--bg-grey-100);
    border-radius: 5px;

}

.starFilter h5
{
    color:var(--bg-black-50)
}