.container_col
{
    display: flex;
    flex-direction: column;
}

.container-info
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.movieRow {
    cursor: pointer;
    position: relative;
    margin: 15px auto;
    width: 190px;
    border: none;
}

.movie-image {
    
    position: relative;
}

.movie-content {
    position: absolute;
    height: 100%;
    color: var(--text-white-700);
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
}

.movie-content:hover {
    background: var(--bg-black-900);
    color: var(--text-white-700)E;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

.behind {
    pointer-events:none;
}



.movie-info-container {
  position: absolute;
  bottom: 20px;
}


/* 

<div className="card movie-container " >
    <img
            className="card-img-top  movieEffects"
            src={movie.poster_path ?`http://image.tmdb.org/t/p/w500/${movie.poster_path}`:"https://i.postimg.cc/j2tF5MtZ/no-disponible.png"} 
            alt={movie.title}
    />
    <div className="card-body  movieCardInfo" >
        <div className=" container-info row align-items-start">
       
            <div className="col">
                <div className="realease-date pull-right text-right"><span>{movie.realease_Date}</span></div>
            </div>
        </div>
        <div className="row justify-content-center mt-5">
            <h6 className="movieTitle">{movie.title}</h6>
        </div>
    </div> */